asgiref==3.7.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
defusedxml==0.7.1
Django==5.0.2
django-allauth==0.61.1
django-chartjs==2.3.0
elastic-transport==8.12.0
elasticsearch==8.12.1
idna==3.6
oauthlib==3.2.2
pillow==10.2.0
pycparser==2.22
PyJWT==2.8.0
PyMySQL==1.1.0
python3-openid==3.2.0
requests==2.31.0
requests-oauthlib==2.0.0
setuptools==68.2.2
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
wheel==0.41.2
