<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{results.name}} Ticker Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h5>Name: {{results.name}}</h5>
    <h5>Desctiption: {{results.description}}</h5>
    <h5>List Date: {{results.list_date}}</h5>
    <h5>Ticket: {{results.ticker}}</h5>
    <h5>Market Cap: {{results.market_cap}}</h5>
    <h5>Latest Stock Price Details:</h5>
    <ul>
      <li>Date: {{latest_stock_price.t}}</li>
      <li>Open Price: {{latest_stock_price.o}}</li>
      <li>Highest Price: {{latest_stock_price.h}}</li>
      <li>Lowest Price: {{latest_stock_price.l}}</li>
      <li>Close Price: {{latest_stock_price.c}}</li>
    </ul>
    <div id="candlestickChart" style="width: 800px; height: 400px;"></div>
    <button>Buy</button>

    <script>
        // Sample data for demonstration
        var timejson = JSON.parse('{{time_series | escapejs}}')
        // console.log(timejson)

        // Extracting data into separate arrays
        const dates = timejson.map(data => data.t);
        const opens = timejson.map(data => data.o);
        const highs = timejson.map(data => data.h);
        const lows = timejson.map(data => data.l);
        const closes = timejson.map(data => data.c);
        console.log(timejson);
        // Create the candlestick chart
        const trace = {
            x: dates,
            close: closes,
            high: highs,
            low: lows,
            open: opens,
            type: 'candlestick',
            increasing: {line: {color: 'green'}},
            decreasing: {line: {color: 'red'}}
        };

        const data = [trace];

            Plotly.newPlot('candlestickChart', data);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>