@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 10;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary_bg: #1E1E1E; 
    --vscode-blue: #007ACC; 
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    background: var(--primary_bg);
    color: white; 
}

.container {
    text-align: left;
    padding: 0 20px; 
}

.container img {
    display: block; 
    margin: 0 auto; 
}

.container h1 {
    margin-top: 20px; 
}


table {
    width: 100%;
    border-collapse: collapse; /* Collapse borders */
}
th, td {
    border: 1px solid #ddd; /* Add border */
    padding: 8px; /* Add padding */
    text-align: left; /* Left align text */
}
th {
    background-color: #0e1977; /* Light gray background for headers */
}
