@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary_bg: #47746e; 
    --color: #ffffff; 
    --hyperlink: #3a2c96; 
}

body {
    background: var(--primary_bg);
    color: var(--color);
    justify-content: center; 
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem 1rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 5px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--hyperlink); 
}

.logo {
    font-size: 24px;
    font-weight: bold;
}


/* body of the webpage - user specific*/

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header'
        'leftside center-top center-top center-top'
        'leftside center-bottom center-bottom center-bottom'; 
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: auto 1fr 1fr;
    height: 100vh;
    margin: 15px;
    gap: 15px;
    box-sizing: border-box;
}

aside#left-side {
    grid-area: leftside;
    background-color: var(--primary_bg);
    padding: 1rem;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 5px -5px rgba(0.1,0.1,0.1,0.1); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-self: start;
}

aside#left-side div{
    /* margin-left: 2px; */
    border-radius: 4px;
    align-self: start;
    /* margin-bottom: 5px; */
}

section#center-top {
    grid-area: center-top;
    background-color:  #81a49f;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

section#center-top h2{
    text-align: center;
    /* margin-bottom: 1rem; */
}

#market-performance {
    display: flex;
    gap: 10px; 
}
#list-section {
    /* margin: 5px; */
    /* padding: 5px; */
    flex: 1;
}

#graph-section {
    /* margin: 5px; */
    /* padding: 5px; */
    flex: 4; 
}

#myChart_Market {
    width: 100%; 
    height: auto; 
    justify-content: center;
}

#market-performance {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input[type="text"] {
    width: 90%; 
    margin-bottom: 10px
}

#stockSuggestions{
    width:90%;
    list-style: none;
}

.search-container form {
    display: flex;
    align-items: center; 
}

#list-section {
    text-align: center; 
}

section#center-bottom {
    grid-area: center-bottom;
    background-color:  #81a49f;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
    border-radius: 15px;

}

#center-bottom .center-bottom-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 1rem; 
}

#center-bottom .left-column {
    padding-top: 10px;
    margin-top: 30px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2); 

}


#username h2{
    margin-bottom: 10px;
    color: rgb(13, 72, 103);
}

#profilo_image {
    border-radius: 50%;
    justify-content: center;
}


#biography {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    min-height: 100%;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    flex-shrink: 1; 
    min-width: 0; 
    margin: 30px;
    border-radius: 50%;

}
#biography h2 span {
    color: #333333; 
    margin-top: 2px;
    font-size: small;
    display: block;
    word-wrap: break-word;
}

.button-style {
    background-color: #47746e;
    color: white; 
    border: solid #020808; 
    padding: 5px 10px; 
    border-radius: 4px;
    font-size: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    display: inline-block;
    text-align: center;
    margin: 2px;
    width: 70%;
    box-sizing: border-box; 
}

.button-style:hover {
    background-color: #005EA6;
}

/* Hides the default file input */
#fileInput {
    display: none;
}


.tree-table {
    overflow-x: auto;
}

.tree-table table {
    border-collapse: collapse;
    width: 100%;
}

.tree-table th, .tree-table td {
    border: 1px solid #25324d;
    padding: 8px;
    text-align: left;
}

.tree-table th {
    background-color: #0a1a0e;
}

.tree-table tbody tr:nth-child(even) {
    background-color: #0c7235;
}

.tree-table tbody tr:hover {
    background-color: #a8d2cf;
}


#center-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.clock-container img {
    width: 30px; /* Adjust flag width */
    margin-right: 10px; 
}

.table-container {
    display: flex;
    flex-direction: column;
}

.toggle-button {
    margin-bottom: 10px; 
}


/* CSS for row formatting and text color */
#leaderboard-body tr {
    color: white; 
}

#leaderboard-body td {
}

/* CSS for dynamic styling */
.gain-loss.positive {
    color: rgb(137, 187, 137); 
}

.gain-loss.negative {
    color: rgb(234, 108, 108); 
}

#polarAreaChart{
    margin-top: 100px;
    padding: 10px;
}

#stockInp {
    font-size: 16px; 
    padding: 10px;
    border-radius: 10px; 
    border: 1px solid #ccc; 
    width: 150%; 
    display:
    margin: 0 auto;
    margin-bottom: 10px; 
}